.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}

.flex-1{
    flex: 1;
}

.justify-center{
    justify-content: center;
}

.flex-direction{
    flex-direction: column;
}
.section-heading{
    text-align: center;
}

.btn{
    padding: 13px 48px;
    font-size:16px;
    font-weight: 600;
    background-color: var(--purple);
    color: var(--light);
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    transition: all .4s ease;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--dimtext);
    color: var(--dark);
}

.btn-primary{
    padding: 13px 48px;
    font-size:16px;
    font-weight: 600;
    background-color: transparent;
    color: var(--purple);
    border: 2px solid var(--purple);
    cursor: pointer;
    border-radius: 50px;
    text-transform: uppercase;
    transition: all .4s ease;
}

.btn-primary:hover{
    background-color: var(--purple);
    border: 2px solid var(--dimtext);
    color: var(--light);
}
